In [ ]:
# Import Pandas library for loading data to dataframe
import pandas as pd

In [ ]:
# Read the data
Sikka_data = pd.read_csv('/content/Q3_Sikka data.csv')

In [ ]:
Sikka_data

In [ ]:
Sikka_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        46 non-null     object
 1   DAU         46 non-null     int64
 2   Installs    46 non-null     int64
 3   Uninstalls  46 non-null     int64
 4   Signups     46 non-null     int64
 5   Referrals   31 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ KB

In [ ]:
# Convert 'Date' column to a datetimelike format
Sikka_data['Date'] = pd.to_datetime(Sikka_data['Date'])

In [ ]:
# Extract the day from the Date field
Sikka_data['day'] = Sikka_data['Date'].dt.day

In [ ]:
# Separate the data for October and the first 15 days of November
october_data = Sikka_data[Sikka_data['Date'].dt.month == 10]
november_data = Sikka_data[Sikka_data['Date'].dt.month == 11][:15]

In [ ]:
october_data

In [ ]:
november_data

In [ ]:
# Create a new dataframe with total referrals and DAU for each day in October
october_referrals = october_data.groupby('day')['Referrals'].sum().reset_index()
october_dau = october_data.groupby('day')['DAU'].sum().reset_index()
october_merged = pd.merge(october_referrals, october_dau, on='day')

In [ ]:
# Create a linear regression model and fit it to the October data
model = LinearRegression()
model.fit(october_merged[['DAU']], october_merged['Referrals'])

LinearRegression()

In [ ]:
# Predict the referrals for the first 15 days of November
november_dau = november_data.groupby('day')['DAU'].sum().reset_index()
november_predictions = model.predict(november_dau[['DAU']]).round(0)

In [ ]:
# Add the predicted referrals to the November data
november_data['predicted_referrals'] = november_predictions

In [ ]:
# Print the predicted referrals for each day in November
print(november_data[['day', 'predicted_referrals']])

    day  predicted_referrals
31    1                395.0
32    2                395.0
33    3                355.0
34    4                383.0
35    5                371.0
36    6                413.0
37    7                382.0
38    8                404.0
39    9                404.0
40   10                424.0
41   11                447.0
42   12                428.0
43   13                426.0
44   14                450.0
45   15                480.0

In [ ]:
november_data[['Date','DAU','Installs','Signups','Referrals','day','predicted_referrals']]

         Date    DAU  Installs  Signups  Referrals  day  predicted_referrals
31 2022-11-01  12816      3763     1806        NaN    1                395.0
32 2022-11-02  12812      3087     1550        NaN    2                395.0
33 2022-11-03  12042      3176     1410        NaN    3                355.0
34 2022-11-04  12595      3172     1629        NaN    4                383.0
35 2022-11-05  12361      3390     1578        NaN    5                371.0
36 2022-11-06  13166      3441     1656        NaN    6                413.0
37 2022-11-07  12565      3468     1556        NaN    7                382.0
38 2022-11-08  12988      4468     1808        NaN    8                404.0
39 2022-11-09  12992      4491     2017        NaN    9                404.0
40 2022-11-10  13377      4261     1997        NaN   10                424.0
41 2022-11-11  13826      4274     2047        NaN   11                447.0
42 2022-11-12  13464      4660     2066        NaN   12                428.0
43 2022-11-13  13415      4416     2147        NaN   13                426.0
44 2022-11-14  13873      4097     2065        NaN   14                450.0
45 2022-11-15  14459      4890     2707        NaN   15                480.0